@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  background: url(../images/bg-mobile.png);
  color: hsl(243, 100%, 93%);
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin: 0 25px;
}
.bold {
  font-weight: 700;
}
/* Header */
.header {
  background: hsl(228, 56%, 26%);
  padding: 40px;
  margin-top: 125px;
  margin-bottom: 15px;
  border-radius: 10px 100px 10px 10px;
}
.header__button-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 30px 0 0 0;
  padding: 0;
}
.header__button {
  background: hsl(229, 57%, 11%);
  border: none;
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  cursor: pointer;
}
.header__button:focus {
  outline: 1px dashed hsl(243, 100%, 93%);
}
/* Data Section */
.storage {
  position: relative;
}
.storage__info {
  background: hsl(228, 56%, 26%);
  border-radius: 10px;
  text-align: center;
  padding: 25px;
}
.storage__slider {
  background: #0f193b;
  border-radius: 50px;
  width: 100%;
  height: 22px;
  display: flex;
  align-items: center;
}
.storage__slider__full {
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 50px;
  height: 16px;
  margin-left: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.storage__slider__ball {
  background: #ffffff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 2px;
}
.storage__slider-range {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.storage__left {
  background: #ffffff;
  color: hsl(229, 57%, 11%);
  font-size: 34px;
  border-radius: 10px;
  padding: 15px;
  width: 125px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  position: absolute;
  bottom: -35px;
  left: 30%;
}
.storage__grey-color {
  color: hsl(229, 7%, 55%);
  font-size: 12px;
  text-transform: uppercase;
}
/* Attribution section */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 100px;
}
.attribution a {
  color: #ffffff;
}
